<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="privacy policy gen.css">
    <title>Privacy Policy</title>
</head>
<body>
    <div id="side-bar">
        <nav id="navbar">
            <!-- This div contains the white logo -->
            <div id="logo-div">
                <img src="logo-white-yellow.png" alt="TermsCreator Logo" id="logo">
            </div>
            <div id="user-profile">
                <span><img src="policy_header.svg" alt="User Icon"></span>
                <span>Privacy Policy Uses</span>
            </div>
            <div id="lower-div">
                <a href="#">
                    <!-- <span>
                        <img src="folder-2.png" alt="Folder Icon">
                    </span> -->
                    <span>Privacy Policy<br> Uses</span>
                </a>
                <a href="#">
                    <!-- <span ><img src="clipboard-tick.png" alt="clipboard-tick Icon"></span> -->
                    <span>User Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="profile.png" alt="Profile Icon"></span> -->
                    <span>Collection of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="document-download.png" alt="Document-download Icon"></span> -->
                    <span>Use of Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Disclosure of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Use of Tracking <br> Technologies</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>User Rights</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Final Details</span>
                </a>
            </div>
        </nav>
    </div>
    <div>
        <div class="asidecontent">
            <div class="inner">
    
                <h3>Privacy Policy</h3>
                <p>Privacy Policy Uses</p>
            </div>
            <div class="inner1">
                <button>Export </button>
            </div>
        </div>
    
        <div class="hatt">
            <div class="content">
                <div>
                    <p class="Q1">What will this Privacy Policy be used for?</p>
                    <form>
                        <div class="one">
                            <input type="checkbox" id="" name="q1" value="">
                        <label for="q1">Website</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q2" value="">
                        <label for="q2">Mobile Application</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                        <label for="q3">Others</label>
                        </div>
                        
                    </form>
                    <p>Add your purpose</p>
    
                    <div class="thing">
                            <input type="text" placeholder="Add your purpose">
                        <button>Add</button>
    
                    </div>
    
                    
                    </div>
                    
        
                </div>
                <div class="second">
                    <img src="t_and_c.png" alt="">
                    <button>Preview</button>
        
        
        
        
                <div>

        </div>
        
        </div>
        

    </div>
    <div>
        <div class="potter">
            <button >
                Save & Next
            </button>
        </div>

        <div class="ron">
            <p class="tips">Tips:</p>
            <p>What is a privacy policy?</p>
            <p>A privacy policy (also referred to as a privacy notice) is a statement or legal document that dexcribes how a company, <br> website, or app collects, maintains, and shares information collected from or about its users. Most Countries <br> require any website that collects personal information from its users to have a written privacy policy posted on the website. </p>
        </div>

        <footer class="hermes">
            <ul>
                <li>Privacy Policy</li>
                <li>Terms of Use </li>
                <li>Disclaimer</li>
                <li> Cookie Policy</li>
            </ul>
        </footer>
    </div>
    
</body>
</html>