<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/disclosure.css' %}">
    <title>Privacy Policy</title>
</head>

<body>
    <div id="side-bar">
        <nav id="navbar">
            <!-- This div contains the white logo -->
            <div id="logo-div">
                <img src="{%  static 'Logo/logo-white-yellow.png' %}" alt="TermsCreator Logo" id="logo">
            </div>
            <div id="user-profile">
                <span><img src="{% static 'icons/policy_header.svg' %}" alt="User Icon"></span>
                <span>Disclosure of Information</span>
            </div>
            <div id="lower-div">
                <a href="#">
                    <!-- <span>
                        <img src="folder-2.png" alt="Folder Icon">
                    </span> -->
                    <span>Privacy Policy<br> Uses</span>
                </a>
                <a href="#">
                    <!-- <span ><img src="clipboard-tick.png" alt="clipboard-tick Icon"></span> -->
                    <span>User Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="profile.png" alt="Profile Icon"></span> -->
                    <span>Collection of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="document-download.png" alt="Document-download Icon"></span> -->
                    <span>Use of Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Disclosure of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Use of Tracking <br> Technologies</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>User Rights</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Final Details</span>
                </a>
            </div>
        </nav>
    </div>

    <div >
        <div class="asidecontent">
            <div class="inner">

                <h3>Privacy Policy</h3>
                <p>Disclosure of Information</p>
            </div>
            <div class="inner1">
                <button>Export </button>
            </div>
        </div>

        <div class="hatt">
            <div class="content">
                <div>
                    <!-- <p class="Q1">Please select the personal information you <br> collect directly from the user:</p>
                    <form>
                        <div class="one">
                            <input type="checkbox" id="" name="q1" value="">
                            <label for="q1">Names</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q2" value="">
                            <label for="q2">Phone numbers</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Email addresses</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Mailing addresses</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Job titles</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Usernames</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Passwords</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Contact preferences</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Contact or authentication data</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Billing addresses</label>
                        </div>
                        <div class="one">
                            <input type="checkbox" id="" name="q3" value="">
                            <label for="q3">Debit/card numbers</label>
                        </div>



                    </form>
                    <p>Add your own</p>

                    <div class="thing">
                        <input type="text" placeholder="Add your own">
                        <button>Add</button>


                    </div>
 -->

                    <div>
                        <p class="Q1">Does your website/app accept payments<br> online?</p>

                    </div>
                    <div>
                        <input type="radio" id="" name="option1" value="">
                        <label for="option1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>





                    </div>

                    <div>
                        <p class="Q1">Does your website or app contain<br>advertisements from third parties that are <br>not affiliated with you?</p>

                    </div>
                    <div>
                        <input type="radio" id="" name="option1" value="">
                        <label for="option1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>





                    </div>

                    <div>
                        <p class="Q1">Can users upload or post content on your website?</p>
                        <p class="text">This includes comments, articles, photos, audio,<br> video, user profile images etc.</p>

                    </div>
                    <div>
                        <input type="radio" id="" name="option1" value="">
                        <label for="option1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>





                    </div>
                </div>


            </div>


            <div class="second">
                <img src="{% static 'Pictures/t_and_c.png' %}" alt="">
                <button>Preview</button>




                <div>

                </div>

            </div>


        </div>

        <div>
            <div class="for-btn">
                <a href="info.html">
                    <button class="prev">
                        Previous
                    </button>
                </a>
                <a href="disclosure2.html">
                    <button class="potter">
                        Save & Next
                    </button>
                </a>
                
            </div>


             <p class="tips">Tips:</p>
            <div class="time">
                
                <div >
                    
                    <p>What is personal Information?</p>
                    <p> Personal information is information that is linked or reasonably linked,<br> directly or
                        indirectly, to an identified or identifiable natural person. <br> Personal information can
                        include: </p>
                    <ul>
                        <li>Personal identifiers (e.g., names, addresses, emails, ID numbers)</li>
                        <li>Photos, sound recordings of voices</li>
                        <li>Internet activity(e.g., internet browsing history, search history, page <br> views)</li>
                        <li>Online identifiers (e.g., IP address, cookie identifiers</li>
                        <li>Geolocation information (can be derived from IP address)</li>
                        <li>Inferences from other personal information</li>
                    </ul>
                </div>

                <!-- <div >
                    <p>What does "collect" mean?</p>
                    <p>Collecting information means you<br> gather details about your users<br> either directly (e.g.,
                        via email,<br> website form, sign-up page, survey) or from other sources<br>(e.g., pubicly
                        available information, data scraping, <br> marketing lists, analytics <br> software)</p>
                </div> -->
            </div> 


            <footer class="hermes">
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Use </li>
                    <li>Disclaimer</li>
                    <li> Cookie Policy</li>
                </ul>
            </footer>
        </div>

</body>

</html>