<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>export-option</title>
	<link rel="stylesheet" href="export.css" />
</head>
<body>
	<div class="container">
		<div>
			<h3>What format will you<br> like to download? </h3>
			<span class="close"><a href="#">&times</a></span>
		</div>

		<div class="every">
			<div class="in">
				<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> WORD</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> PDF</label><br>
			</div>
			<div>
				<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> HTML</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2">JPG</label><br>
			</div>
			<div>
				<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> More Format</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> More Format</label><br>
			</div>
		</div>

		 <div class="general">
			<a href=""><button id="btn1" type="button">Cancel</button></a>
			<a href=""><button id="btn2">Download</button></a>
			
			
			
		  </div> 

	</div>

	



</body>
</html>