<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/input.css' %}"/>
    <title>Terms Creator Landing Page</title>
</head>
<body>
<nav
        class="relative w-full mx-auto h-full items-center p-8 md:p-3 my-auto bg-[#154ED5] text-[#fff]"
>
    <div class="flex items-center justify-between md:ml-10">
        <div class=" ">
            <img src="{% static 'Logo/Logo_White.png' %}" alt="logo image" width="250px"/>
        </div>
        <!-- menu items -->
        <!-- <div class="hidden md:flex space-x-6   ">

          href=""
          class="hidden md:block p-3 px-6 pt-2 ml-11 baseline bg-[#fff] text-[#154ED5] rounded-md"

        <div class="hidden md:flex space-x-11 ml-48 my-auto">
          <a href="contact-us">Contact Us</a>
          <a href="login">Log in</a>
        </div>
        <!-- button -->

        <div class="hidden md:flex space-x-11 items-center ">
            <a href="contact-us">Contact Us</a>
            <a href="login">Log in</a>
            <a
                    href="{% url 'signup' %}"
                    class="hidden md:block p-3 px-6 pt-2 ml-11 baseline bg-[#fff] md:m-4 text-[#154ED5] rounded-md"
            >Get Started</a
            >
        </div>
        <!-- button -->

    </div>
</nav>

<!-- Hero Section -->
<section id="hero" class="relative">
    <!-- flex Container -->
    <div
            class="container relative text-left sector flex z-10 flex-col md:flex-row items-center px-6 mx-auto space-y-0 md:space-y-0"
    >

        <div class="flex flex-col mt-20 md:w-1/2">
            <h1 class="max-w-md text-3xl font-bold md:text-4xl text-left">
            <span class="text-[#154ED5] leading-snug"
            >Quickly Generate<br/></span
            ><span class="text-[#0D2F80] leading-snug"
            >personalised<br/>Terms & Conditions</span
            >
            </h1>
            <p class="max-w-sm text-3xl mt-10 text-[#2D2D2D] text-left">
                and up to date <span class="font-bold">Privacy Policy</span>
            </p>
            <p
                    class="max-w-sm text-2xl mt-10 text-[#154ED5] text-left md:text-2xl md:max-w-xl"
            >
                Need a meaty, jargon-free and comprehensive terms of service<br/>template?
                Our free terms and conditions generator is your one-stop solution to
                better protecting your blog, app, website or business
            </p>
            <a
                    href="Sign_up.html"
                    class="mt-10 max-w-sm p-6 mb-9 text-center text-3xl px-2 pt-2 baseline bg-[#154ED5] text-[#fff] rounded-md md:text-center md:w-96 md:mb-20 md:py-2 md:px-1"
            >Get Started</a
            >
        </div>
        <!-- image -->
        <div class="md:ml-22 w-96 relative">
            <img
                    src="{% static 'Pictures/Hero section image.png' %}"
                    alt="image of a guy writing"
            />
        </div>
    </div>
    <div class="absolute md:h-full bottom-[-4rem] md:rotate-0 md:bottom-0  md:right-0 rotate-90 h-[100vw] right-[4rem] md:top-0 ">
        <img class="h-full" src="{% static 'Pictures/hero section blue.png' %}" alt=""/>
    </div>
</section>

<!--features section -->
<section id="features">
    <!-- Container to heading and features -->
    <div
            class="flex flex-col max-w-full px-5 pt-9 mx-auto text-center bg-[#e9eef8]"
    >
        <!-- heading -->
        <h2
                class="text-4xl font-bold sm:mt-6 mb-6 text-center text-[#0D2F80] md:text-center md:mb-14"
        >
            Explore all your agreement<br/>
            solutions in one place.
        </h2>
        <!-- cards  -->
        <div
                class="flex flex-col text-center mt-2 sm:mx-auto md:ml-7 mb-10 md:flex-row md:space-x-6"
        >
            <!-- card 1 -->

            <div class="max-w-sm bg-white rounded-lg mb-7 p-12">
                <a href="signup">
                    <img
                            class="w-32 ml-20 p-5"
                            src="{% static 'icons/handshake_icon.png' %}"
                            alt=""
                    />
                </a>
                <div class="p-5">
                    <a href="me">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-[#154ED5]"
                        >
                            Terms & Conditions Generator
                        </h5>
                    </a>
                    <p class="mb-6 font-normal text-[#081F55]">
                        Create a personalized Terms & Conditions agreement for free to
                        secure your business
                    </p>
                    <a
                            href="signup"
                            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 md:mt-4"
                    >
                        Generate Terms & Conditions
                    </a>
                </div>
            </div>

            <!-- card 2 -->
            <div class="max-w-sm bg-white rounded-lg mb-7 p-12">
                <a href="signup">
                    <img
                            class="w-32 ml-20 p-5"
                            src="{% static 'icons/check_shield_icon.png' %}"
                            alt=""
                    />
                </a>
                <div class="p-5">
                    <a href="policy.html">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-[#154ED5]"
                        >
                            Privacy Policy Generator
                        </h5>
                    </a>
                    <p class="mb-6 font-normal text-[#081F55]">
                        Create your professional privacy policy agreement written in
                        simple terms your customer understands.
                    </p>
                    <a
                            href="signup"
                            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        Generate Privacy Policy
                    </a>
                </div>
            </div>

            <!-- card 3 -->
            <div class="max-w-sm bg-white rounded-lg mb-7 p-12">
                <a href="Sign_up.html">
                    <img class="w-32 ml-20 p-5" src="{% static 'icons/check_icon.png' %}" alt=""/>
                </a>
                <div class="p-5">
                    <a href="signup">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-[#154ED5]"
                        >
                            Terms of Use
                        </h5>
                    </a>
                    <p class="mb-6 font-normal text-[#081F55]">
                        Get your personalised Terms of use in seconds, for your apps,
                        software, website and keep them safe from legal issue
                    </p>
                    <a
                            href="signup"
                            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 md:mt-4"
                    >
                        Generate Terms Of Use
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why use the app?-->
<section id="appfeature">
    <div class="flex flex-col max-w-full px-5 pt-9 mx-auto text-center">
        <h2
                class="text-3xl font-bold text-center md:text-4xl text-[#0D2F80] md:text-center md:mb-4"
        >
            Why Use Terms Creator?
        </h2>
        <!-- features of the app -->
        <div
                class="flex flex-col md:text-center md:mt-11 md:ml-10 md:mb-10 md:flex-row md:space-x-14"
        >
            <!-- left -->
            <div
                    class="flex flex-col ml-9 mt-8 md:mt-5 md:ml-20 md:mb-10 md:flex-col md:space-x-9 md:text-center"
            >
                <div class="flex flex-row text-left md:my-5 md:mb-12 md:ml-8">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/simple-calendar-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">
                        Super easy and<br/>and simple to complete
                    </p>
                </div>
                <div class="flex flex-row sm:mt-5 md:mb-16">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/event-date-and-time-symbol-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">Always up-to-date</p>
                </div>
            </div>

            <!-- center -->
            <div
                    class="flex flex-col ml-9 mt-8 md:mt-5 md:ml-20 md:mb-10 md:flex-col md:space-x-9"
            >
                <div class="flex flex-row text-left md:my-5 md:mb-12 md:ml-8">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/cost-effective-productive-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">
                        Cost<br/>
                        Effective
                    </p>
                </div>
                <div class="flex flex-row sm:mt-5 md:mb-16">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/time-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">Takes less time</p>
                </div>
            </div>

            <!-- right -->
            <div
                    class="flex flex-col ml-9 mt-8 md:mt-5 md:ml-20 md:mb-10 md:flex-col md:space-x-9"
            >
                <div class="flex flex-row text-left md:my-5 md:mb-12 md:ml-8">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/download-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">Download in<br/>any format</p>
                </div>
                <div class="flex flex-row sm:mt-5 md:mb-16">
                    <img
                            class="w-20 mr-3"
                            src="{% static 'icons/insert-template-svgrepo-com 1.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-2xl">Customizable<br/>Templates</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trusted by Thousands -->
<section>
    <div class="flex flex-col max-w-full px-5 pt-9 mx-auto text-center">
        <h2
                class="text-3xl font-bold text-center text-[#0D2F80] md:text-4xl md:text-center md:mb-4"
        >
            Trusted by Thousands
        </h2>
        <!-- Numerics -->
        <div
                class="flex flex-col text-center mt-5 ml-32 mb-10 md:flex-row md:space-x-40"
        >
            <!-- 1 -->
            <div
                    class="flex flex-col md:mt-5 ml-4 md:mb-10 md:space-x-9 md:text-center"
            >
                <div
                        class="flex flex-col mb-16 md:my-5 md:mb-12 md:ml-8 md:flex-col"
                >
                    <img
                            class="w-16 ml-16"
                            src="{% static 'Pictures/User count number.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-3xl md:text-2xl text-left ml-12">
                        Users
                    </p>
                </div>
            </div>

            <!-- 2 -->
            <div
                    class="flex flex-col md:mt-5 ml-4 md:mb-10 md:space-x-9 md:text-center"
            >
                <div
                        class="flex flex-col mb-16 md:my-5 md:mb-12 md:ml-8 md:flex-col"
                >
                    <img
                            class="w-16 ml-16"
                            src="{% static 'Pictures/Policy count 2.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-3xl md:text-2xl text-left">
                        Policies generated<br/>per day
                    </p>
                </div>
            </div>

            <!-- 3 -->
            <div
                    class="flex flex-col md:mt-5 ml-4 md:mb-10 md:space-x-9 md:text-center"
            >
                <div
                        class="flex flex-col mb-16 md:my-5 md:mb-12 md:ml-8 md:flex-col"
                >
                    <img
                            class="w-16 ml-16"
                            src="{% static 'Pictures/T_C Month count.png' %}"
                            alt=""
                    />
                    <p class="text-[#000] text-3xl md:text-2xl text-left">
                        Terms generated per<br/>month
                    </p>
                </div>
            </div>

            <a
                    href="#"
                    class="text-4xl px-4 py-4 font-medium text-center md:hidden text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Generate Now
            </a>
        </div>
    </div>
</section>

<!-- How Terms Creator works -->
<section>
    <div
            class="flex flex-col max-w-full px-5 pt-9 mx-auto items-center  text-center md:bg-[#e9eef8]"
    >
        <h2
                class="md:text-4xl text-4xl min-w-min font-bold text-center text-[#0D2F80] md:text-center md:mb-3"
        >
            How does TermsCreator Work?
        </h2>
        <div
                class="container  flex flex-col md:flex-row md:justify-between mb-20 px-6 mx-auto mt-10 space-y-0 md:space-y-0"
        >
            <!-- left item  -->
            <div class="flex flex-col mt-1">
                <p
                        class="max-w-md text-center text-2xl mt-10 text-[#154ED5] md:text-2xl md:text-left md:max-w-xl"
                >
                    Don't worry, you don't need prior legal<br/>
                    experience. TermsCreator will walk you<br/>
                    through the questions you need to<br/>
                    know about your business, and then <br/>
                    create customized legal documents for<br/>
                    your business, app, website etc.
                </p>

                <p
                        class=" hidden md:block max-w-sm text-center sm:max-w-md sm:text-2xl mt-10 text-[#2D2D2D] md:text-left"
                >
                    Get your Terms & conditions and Privacy<br/>
                    Policy generated in few simple steps:
                </p>


            </div>

            <!-- image -->
            <div class="">
                <div class="w-96 md:w-96 mt-10 md:mt-0 ">
                    <img
                            src="{% static 'Pictures/hand_writing.png' %}"
                            alt="image of a guy writing"
                    />
                </div>
            </div>
        </div>
        <p
                class=" block md:hidden max-w-sm text-center sm:max-w-md sm:text-2xl mt-10 text-[#2D2D2D] md:text-left"
        >
            Get your Terms & conditions and Privacy<br/>
            Policy generated in few simple steps:
        </p>
        <ul class="block md:hidden list-disc text-2xl ml-5 min-w-full  text-left ">
            <li class="mt-10 text-[#154ED5]">Answer questions about your business, website.</li>
            <li class="mt-10 text-[#154ED5]">Choose your method of dispute resolution(a critical piece of
                any terms and conditions)
            </li>
            <li class="mt-10 text-[#154ED5]">Give a few final details and add customization if needed</li>

        </ul>
        <div
                class=" hidden container mx-auto md:flex flex-col mt-6 md:flex-row md:mt-2 md:ml-36  justify-between md:space-x-3  md:justify-between "
        >
            <div class=" md:w-[30%]">
                <p
                        class="mb-6 font-bold text-lg text-left sm:max-w-md  text-[#154ED5]"
                >
                    Answer questions about your business, website.
                </p>
            </div>
            <div class=" md:w-[30%]">
                <p
                        class="mb-6 font-bold text-lg text-left sm:max-w-md  text-[#154ED5]"
                >
                    Choose your method of dispute resolution(a critical piece of
                    any terms and conditions)
                </p>
            </div>
            <div class="md:w-[30%]">
                <p
                        class="mb-6 font-bold text-lg text-left sm:max-w-md  text-[#154ED5]"
                >
                    Give a few final details and add customization if needed
                </p>
            </div>
        </div>

        <a
                href="{% url 'dashboard' %}"
                class="sm:text-4xl px-2 py-2 mt-5 mb-5 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800  md:w-96 md:mb-9"
        >
            Generate Now
        </a>
    </div>
</section>

<!--features section -->
<section id="features" class="rick">
    <!-- Container to heading and features -->
    <div class="flex flex-col max-w-full px-5 pt-9 mx-auto text-center">
        <!-- heading -->
        <h2
                class="sm:text-4xl font-bold sm:pt-5 sm:max-w-md sm:mx-auto text-center text-white md:min-w-max md:text-center md:mb-14"
        >
            Here's what super awesome people <br/>
            are saying about TermsCreator:
        </h2>
        <!-- cards  -->
        <div
                class="flex flex-col sm:mx-auto mt-6 ml-20 mb-10 md:flex-row md:space-x-6"
        >
            <!-- card 1 -->
            <div class="max-w-sm bg-white rounded-lg mb-7 p-12">
                <a href="Sign_up.html">
                    <img class="w-48 ml-16 p-5" src="{% static 'Pictures/User 1.png' %}" alt=""/>
                </a>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold text-black">
                        Leslie <br/>
                        Alexander
                    </h5>
                    <p class="text-[#154ED5]">Copywriter</p>

                    <p class="mb-6 font-normal text-black md:mt-12">
                        Have you ever created TOS for <br/>
                        your API ? User friendly interface,<br/>
                        no confusing terms !
                    </p>
                </div>
            </div>

            <!-- card 2 -->
            <div class="max-w-sm bg-white rounded-lg mb-7 p-12 md:-mt-14">
                <a href="#">
                    <img class="w-48 ml-16 p-5" src="{% static 'Pictures/User 2.png' %}" alt=""/>
                </a>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold text-black">Tech Mama</h5>
                    <p class="text-[#154ED5]">Blogger</p>

                    <p class="mb-6 font-normal text-black md:mt-12">
                        "Great! I use it often when<br/>
                        creating my legal docs."- <br/>
                        TechMama, blogger and founder of<br/>
                        TechMamas
                    </p>
                </div>
            </div>

            <!-- card 3 -->
            <div class="max-w-sm bg-white rounded-lg mb-7 p-12">
                <a href="#">
                    <img class="w-48 ml-16 p-5" src="{% static 'Pictures/User 3.png' %}" alt=""/>
                </a>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold text-black">Sam Doe</h5>
                    <p class="text-[#154ED5]">Web Developer</p>

                    <p class="mb-6 font-normal text-black md:mt-12">
                        The app has been amazing. I'm <br/>
                        just learning, but it's easier than I<br/>
                        thought it would be. I would<br/>definitely recommend to others
                        in <br/>
                        my position
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div
            class="flex flex-col max-w-full px-5 pt-9 mx-auto text-center bg-[#051333]"
    >
        <h2
                class="text-2xl  font-bold  text-center md:text-4xl   text-white md:text-[#c1cfef] md:text-center md:mb-4"
        >
            Provide your customers with legal <br/>
            peace of mind and save time and money.
        </h2>

        <a
                href="{% url 'dashboard' %}"
                class="mt-5 max-w-sm p-2 mb-2 text-center mx-auto px-8 pt-2 baseline bg-[#154ED5] text-[#fff] rounded-md md:text-center md:w-80 md:mt-11 md:mb-6 md:py-2 md:mx-auto md:px-16"
        >Start Free Trial Now!</a
        >

        <a
                href="{% url 'about-us' %}"
                class="mt-2 max-w-sm p-2 mb-4 text-center px-8 pt-2 mx-auto baseline border-2 border-[#fff] text-[#fff] rounded-md md:text-center md:w-80 md:mt-2 md:mb-20 md:py-2 md:mx-auto md:px-16"
        >Learn More Now</a
        >
    </div>
</section>

<!-- Footer -->
<footer class="bg-[#8caeff]">
    <!-- Flex Container -->
    <div
            class="container flex text-center flex-col justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0 md:space-x-28"
    >
        <!-- Logo and social links container -->
        <div
                class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start"
        >
            <!-- Logo -->
            <div class="">
                <img
                        src="{% static 'Logo/Logo-Blue-Yellow.png' %}"
                        class="h-10 min-w-min"
                        alt=""
                />
            </div>
        </div>
        <!-- List Container -->
        <div
                class="flex flex-col text-2xl justify-around md:flex-row md:ml-32 md:space-x-32"
        >
            <div class="flex flex-col space-y-3 text-[#536181]">
                <a href="{% url 'about-us'%}">About Us</a>
                <a href="{% url 'policy' %}">Our Privacy Policy</a>
                <a href="{% url 'faq' %}">Our Terms of Use</a>
            </div>
            <div class="flex flex-col mx-auto space-y-3 text-[#536181]">
                <a href="me">Privacy Policy Generator</a>
                <a href="#"
                >Terms & Conditions<br/>
                    Generator</a
                >
                <a href="#">FAQs</a>
            </div>

            <div class="flex flex-col space-y-3 text-[#536181]">
                <a href="{% url 'contact-us' %}">Help & Support</a>
                <a href="{% url 'contact-us' %}">Contact us</a>
                <a href="#">Pricing Plan</a>
                <a href="#">Resources</a>
                <a href="#">Security FAQ</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
