
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'loginstyle.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            {% load static %}
            <img src="{% static '/Pictures/LogoBlueYellow.png' %}" alt="" class="desktop">
            <img src="{% static '/Logo/logo-white-yellow.png' %}" alt="" class="mobile">
        </div>
        <div class="main">
            <div class="head">
                <h4>
                    Hello Again!
                </h4>
                <p>
                    Welcome to TermsCreator
                </p>
            </div>
            <div class="side1">
                <div class="form">
                    <h4>
                        Hello Again!
                    </h4>
                   {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <p class="label">
                            Email
                        </p>
                        <input type="email" name="email" id="" placeholder="markjohn@gmail.com" class="field"><br>
                         <p class="label">
                            Username
                        </p>
                        <input type="text" name="username" id="" placeholder="you" class="field"><br>

                        <p class="label">
                            Password
                        </p>
                            <input type="password" name="password" id="" class="field"  placeholder="minimum of 8 characters"><br>

                        <button type="submit">Log in </button><br>
                        <input type="checkbox" class="check" id="" checked> <span class="span1">Remember me</span>
                        <span class="span2"><a href="http://">Forgot your password?</a></span>
                    </form>
                    <p class="signin">Don't have an account? <a href="{% url 'signup' %}" >Sign up</a></p>
                </div>
            </div>
            <div class="side2">

            </div>
        </div>
    </div>
</body>
</html>