<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reset_password.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>


    <div class="box-container">
        <div class="box box1">
            <div>
                {% load static %}
                <img id="image" src="{% static'/Pictures/LogoBlueYellow.png'%}" alt="Yellow-Blue logo">

            </div>
            <div>
                {% load static %}
                <img id="logo" src="{% static'/Pictures/security shield.png'%}" alt="shield-Jpeg">
            </div>
            <div id="mobile-logo">
                <img src="{% static '/Pictures/logo-white-yellow.png' %}" alt="Logo" >
            </div>
        </div>

        <form action="" method="post">
            <div class="box box2">
                <h4 id="word"> Reset your password</h4>
                <p id="terms"> Enter the email associated with your Termscreator <br>Account and well send you a link to
                    reset your<br>
                    password.
                </p>
                <div class="input-box">
                    <label id="email"> Email</label><br>
                    <input id="placeholder" type="email" placeholder="trendfancy@gmail.com" required>
                    <input id="cont-button" type="button" value="Continue" required>

                    <p id="par">Don't have an account? <a href="#">Sign up</a></p>
                </div>
            </div>
            <footer>
                <div id="footer-links">
                    <div>
                        <a href="landingPage.html">TermsCreator</a>
                    </div>
                    <div>
                        <a href="contact.html">Contact</a>
                    </div>
                    <div id="privacy">
                        <a href="privacypolicy.html">Privacy & terms</a>
                    </div>
                </div>
                {% load static %}
                <img id="foot" src="{% static'/Pictures/Vector_6.png'%}" alt="shield-Jpeg">
            </footer>
        </form>
    </div>

</body>

</html>