{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>T_C_Gen_Policies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'policy.css' %}">
  </head>
  <body>
    <div class="policy-container">
        <main>
            <header>
                <nav>
                    {% load static %}
                    <div class="logo"><img src="{% static '/Logo/logo_blue_yellow.png'%}" alt="t_c_gen_logo"></div>
                    <div class="user-profile">
                        <div class="img">
                        {% load static %}
                            <img src="{% static '/icons/policy_header.svg' %}"></img>
                        </div>

                        <div class="text">
                            <span class="img-text">Policies</span>
                        </div>
                    </div>

                    <!--nav-click for slider on mobile view -->



                </nav>
            </header>


            <aside>
                <section class="search">
                    <div class="search-bar">
                        <div class="search-bar-contain">
                            {% load static %}
                            <img src="{% static '/icons/search_normal.svg' %}" alt="search-bar" id="policy-search-bar">
                        </div>
                    </div>
                </section>

                <section class="policy-header">
                    <div class="policy-text">
                    <h1>We're sure you'll have a <br> time here using <br> TermsCreator!</h1>
                    </div>
                </section>

                <section class="policy-subheader">
                    <div class="policy-subtext">
                        {% load static %}
                        <p class="policy-img"><img src="{% static '/icons/policies.svg' %}" alt="policy"><span>Policies</span></p>
                        <p class="policy-txt">Legal policies help you comply with data privacy and consumer protection laws, protect your business and limit your
                        liability.</p>
                    </div>
                </section>

                <section class="tandcgen">
                    <div class="tandcgencontain">
                        <div class="tcgen">
                            <div class="txt-container">
                            {% load static %}
                            <img src="{% static '/Pictures/t_and_c.png' %}" alt="tandcgen" class="generator">
                            <button><a href="{% url 'dashboard' %}">Create </a></button>
                            </div>
                        </div>
                    </div>

                    <div class="tandcgencontain">
                        <div class="tcgen">
                            <div class="txt-container">
                            {% load static %}
                                <img src="{% static '/Pictures/t_and_c.png' %}" alt="tandcgen" class="generator">
                                <button><a href="{% url 'dashboard' %}">Create </a></button>
                                </div>
                        </div>
                    </div>

                    <div class="tandcgencontain ">
                        <div class="tcgen new-row">
                            <div class="txt-container">
                            {% load static %}
                                <img src="{% static '/icons/add.svg' %}" alt="add" class="icon-add">
                                <p>Terms And Conditions</p>
                            </div>
                        </div>
                    </div>

                    <div class="tandcgencontain">
                        <div class="tcgen  new-row">
                            <div class="txt-container">
                            {% load static %}
                                <img src="{% static '/icons/add.svg' %}" alt="add" class="icon-add">
                                <p>Terms And Conditions</p>
                            </div>
                        </div>
                    </div>
                </section>

                <footer>
                    <div class="footer">
                        <p>Copyright 2022 TermsCreator</p>
                    </div>
                </footer>
            </aside>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>