<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/reset_password.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>

<body>

    <div class="box-container">
        <div class="box box1">
            {% load static %}
            <img src="/static/svgs/lock security.svg" alt="" width="400px" height="300px">

            <div class="content"></div>
        </div>

        <div class="box box2">
            <div class="content-two">
                <h2>Change Password</h2>
                <p>Enter a new password for your account to continue to login</p>
            </div>

            <div class="wrapper">
                <form method="POST">
                    {% csrf_token %}
                    <div class="new-password">
                        <label id="one" for="new_password">New Password</label>
                        {{ form.new_password }}

                    </div>

                    <div class="con-password">
                        <label id="two" for="confirm_new_password"> Confirm Password</label>
                        {{ form.confirm_new_password }}


                        {% if form.non_field_errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {{form.non_field_errors}}
                        </div>
                        {% endif %}

                        <div id="btn">
                            <button class="btn1">Close</button>
                            <button class="btn2">Submit</button>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
</body>

</html>