<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'saved.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="bar">
            <div class="logo">
                {% load static %}
                <img src = "{% static 'Logo/logo_blue_yellow.png' %}" alt="">
                <a href="{% url 'Home' %}"></a>
            </div>
            <div class="image">
                {% load static %}
                <img src="{% static 'save.png'%}" alt="" srcset="">
                <p>
                    Saved
                </p>
            </div>
            <div class="nav">
                <ul>
                <li>
                    {% load static %}
                        <img src="{% static 'dashboard.svg'%}" alt="" srcset="">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                  
                    <li>
                        {% load static %}
                        <img src="{% static 'policies.svg'%}" alt="" srcset="">
                        <a href="policy.html">Policies</a>
                    </li>
                    <li>
                        {% load static %}
                        <img src="{% static 'profile.svg'%}" alt="" srcset="">
                        <a href="editprofile.html">My Profile</a>
                    </li>
                    <li>
                        {% load static %}
                        <img src="{% static 'downloads.svg' %}" alt="" srcset="">
                        <a href="downloads.html">Download</a>
                    </li>
                    {% load static %}
                    <li><img src="{% static 'save.png'%}" alt="" srcset="">
                        <a>Saved</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="box">
                <div class="header">
                    <div class="tab">
                        <h1>
                           Saved
                        </h1>
                        <img src="save2_on_blue.svg" alt="" srcset="">

                    </div>
                </div>
                <div class="content">
                    <div class="edit">
                        <div class="word">
                            You currently don't have any Saved policy.
                            </div>

                        <div id="btn">
                            <button type="submit" class="but2">Generate</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer">
                <p>
                   <h6> Copywrite 2022 TermsCreator</h6>
                </p>
            </div>
        </div>
    </div>

</body>

</html>