<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'sign_up.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body>
    <div id="left">
        {% load static %}
        <img src="{% static 'Logo/logo_white.png' %}" alt="White Logo" id="logo">
        <p id="text">A few clicks away from you generating your professional policies.</p>
    </div>
    <div id="right">
        <div id="right-div">
           <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                <section id="register">
                    <p>Register</p>
                    <p>Let's get you started with TermsCreator</p>
                </section>
                <fieldset>
                    <div>
                        <p>
                            <label for="email">Email</label>
                            <input required type="email" name="email" id="email" placeholder="treandfancy@gmail.com">
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input required type="password" name="password1" id="password" placeholder="minimum of 8 character" minlength="8">
                        </p>
                    </div>
                    <div>
                        <p>
                            <label for="contact">Contact Number</label>
                            <input required type="tel" name="contact" id="contact" placeholder="+234-800-222-4444" pattern="[+][0-9]{3}[0-9]{3}[0-9]{3}[0-9]{4}">
                        </p>
                        <p>
                            <label for="password">Confirm Password</label>
                            <input required type="password" name="password2" id="confirm_password" placeholder="minimum of 8 characters" minlength="8">
                        </p>
                    </div>
                    <div>
                        <p>
                            <label for="company">Company</label>
                            <input required type="text" name="username" id="company" placeholder="My Great Company">
                        </p>
                        <p>
                            <label for="business">Business Type</label>
                            <select id="business" placeholder="Business">
                                <option value="business" id="website">Website designer</option>
                                <option value="Construction">Construction</option>
                                <option value="Employment">Employment</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Finance">Finance</option>
                                <option value="Freelancer">Freelancer</option>
                                <option value="Health-Care">Health Care</option>
                                <option value="Information-Technology">Information-Technology</option>
                                <option value="Real-Estate">Real Estate</option>
                                <option value="Saas">Saas</option>
                            </select>
                        </p>
                    </div>
                    <p id="checkbox">
                        <input type="checkbox" required> I agree with the <a href="">Terms & Conditions</a> and <a href="privacypolicy.html">Privacy Policy</a>
                    </p>
                </fieldset>
                <input type="submit" name="submit" id="submit" value="Create Account">
            </form>
        </div>
        <p id="login">Already have an account? <a href="{% url 'loginform' %}"> Log in</a></p>
    </div>
    {% load static %}
    <script src="{% static 'signup.js' %}"></script>
</body>
</html>