<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user.css' %}">
    <title>Privacy Policy</title>
</head>
<body>
    <div id="side-bar">
        <nav id="navbar">
            <!-- This div contains the white logo -->
            <div id="logo-div">
                <img src="{% static 'icons/logo-white-yellow.png' %}" alt="TermsCreator Logo" id="logo">
            </div>
            <div id="user-profile">
                <span><img src="{% static 'icons/policy_header.svg' %}" alt="User Icon"></span>
                <span>User Information</span>
            </div>
            <div id="lower-div">
                <a href="#">
                    <!-- <span>
                        <img src="folder-2.png" alt="Folder Icon">
                    </span> -->
                    <span>Privacy Policy<br> Uses</span>
                </a>
                <a href="#">
                    <!-- <span ><img src="clipboard-tick.png" alt="clipboard-tick Icon"></span> -->
                    <span>User Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="profile.png" alt="Profile Icon"></span> -->
                    <span>Collection of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="document-download.png" alt="Document-download Icon"></span> -->
                    <span>Use of Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Disclosure of <br> Information</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Use of Tracking <br> Technologies</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>User Rights</span>
                </a>
                <a href="#">
                    <!-- <span><img src="save-2.png" alt="Saved Icon"></span> -->
                    <span>Final Details</span>
                </a>
            </div>
        </nav>
    </div>
    <div>
        <div class="asidecontent">
            <div class="inner">
    
                <h3>Privacy Policy</h3>
                <p>User Information</p>
            </div>
            <div class="inner1">
                <button>Export </button>
            </div>
        </div>
    
        <div class="hatt">
            <div class="content">
                <div class="mary">

                    <div class="first">
                        <p class="Q1">Are your users located in Nigeria?</p>
                    <div >
                        <input type="radio" id="" name="option1" value="">
                    <label for="option1">Yes</label>
                    </div>
                    <div >
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>
                    

                        
                    </div>
                    </div>
                    

                    <div>
                        <p class="Q1">Can your user create an account or <br>register with your website or App?</p>
                    <div >
                        <input type="radio" id="" name="option1" value="">
                    <label for="option1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>
                    

                        
                    </div>
                    </div>
                    

                    <div>
                        <p class="Q1">Is your website or app offered to users<br> under the age of 18?</p>
                    <div >
                        <input type="radio" id="" name="option1" value="">
                    <label for="option1">Yes</label>
                    </div>
                    <div>
                        <input type="radio" id="" name="option2" value="">
                        <label for="option2">No</label>
                    

                        
                    </div>
                    </div>
                    
                    
                    </div>
                    
        
                </div>
                <div class="second">
                    <img src="{% static 'Pictures/t_and_c.png' %}" alt="">
                    <button>Preview</button>
        
        
        
        
                <div>

                    
        </div>
        
              </div>
        

    </div>
    <div >
        <div>
            <div class="previous">
                <button>
                    Previous
                </button>
                
            </div>
            <div class="potter">
                <button >
                    Save & Next
                </button>
            </div>
        </div>
        

        

        
    </div>



        <div class="ctn-btm">
            <div>
                <p class="tips">Tips:</p>
        <p>What are users?</p>
        <p>Users are individuals that visit your<br> website or app. They can be<br> external or internal  </p>

            </div>
            
        <div>
            <p>External users include<br> individuals who:</p>
            <ul>
                <li>Browse your website</li>
                <li>Interact with your website</li>
                <li>Use your software/program/platform</li>
                <li>Purchase goods or services <br> through your website</li>
            </ul>
        </div>

        <div>
            <p>internal users <br> include:</p>
            <ul>
                <li>Employees</li>
                <li>Managers</li>
                <li>Internal auditors</li>
            </ul>
        </div>
        </div>

       

        
        
    

    <footer class="hermes">
        <ul>
            <li>Privacy Policy</li>
            <li>Terms of Use </li>
            <li>Disclaimer</li>
            <li> Cookie Policy</li>
        </ul>
    </footer>
</body>
</html>