@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;

}

.box-container {
  width: 100%;
  display: flex;
  height: 980px;
}

.mobile1>img, .mobile2>img{
  display: none;
}

.box1 {
  flex: 1.5;
  background-color: rgb(31, 44, 143);
  background-image: url("background-complete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100%;
}
.desktop>img{
  display: block;
}

.logo{
  margin-top: 103px;
  margin-left: 100px;
  width: 202px;
  height: 36px;
}

.lock{
  width: 400px;
  height: 300px;
  margin-top: 270px;
  margin-left: 58px;
}

.box2 {
  background-color: #fff;
  margin-top: 30px;
  height: 20px;
  flex: 2;
}

li{
  list-style: none;
  width: auto;
  height: 19px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #FFFF80;
}

.footer{
  width: 100%;
  margin-top: 160px;
}

.footer>ul{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.form-box{
  margin-top: 300px;
  width: 431px;
  margin-left: 50px;
}
.content-two>h2{
  width: 431px;
  height: 38px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
  line-height: 38px;
  text-align: left;
  letter-spacing: 0.25px;
  color: #0D2F80;
}
.content-two>p{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #1E1E1E;
  margin-top: 24px;
  margin-bottom: 20px;
}

label{
    width: 119px;
    height: 19px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #1E1E1E;
    margin-top: 16px;
}

input{
  align-items: center;
  margin-top: 8px;
  color: #ACACAC;
  width: 431px;
  height: 46px;
  margin-bottom: 35px;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  border:1px solid #757575;
}

.but{
  display: flex;
  justify-content: space-between;
}

.but1{
  border: 1px solid #154ED5;
  background-color:#FFFFFF;
  color: #154ED5;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 191px;
  height: 48px;
  border: 0.5px solid #154ED5;
  border-radius: 8px;
  margin-right: 10px;
}

.but2{
  border:none;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 224px;
  height: 48px;
  background: #154ED5;
  border-radius: 8px;
  margin-left: 10px;
  color: #FFFFFF;
}


.foot>ul>li{
  color: #1E1E1E;
  display: none;
}
@media only screen and (max-width: 970px){

  li{
    font-size: 14px;
  }

  input{
    width: 300px;
  }

  .content-two>p{
    width: 300px;
  }

  .but{
    width: 300px;
  }

  .but1, .but2{
    width: 140px;
  }

}

@media only screen and (max-width: 500px){

  .box-container {
    flex-direction: column;
    height: 600px;
  }

  .box{
    background-image: url('cable\ illustartion.png');
    height: 118px;

  }

  .footer, .footer>ul, .footer>ul>li{
    height: 0;
    display: none;
    margin-top: 0;
  }

  .logo{
    visibility: hidden;
    margin-top: 0;
  }

  .lock{
    margin-top: 0;
    display: block;
    height: 180px;
    width:90%;
    margin-left: 20px;
    margin-top: -35px;
  }



  .mobile1{
    width: 100%;
    height: 100px;
    background: #154ED5;;
  }
  .mobile1>img{
    display: block;
    width: 136px;
    height: 24px;
    margin-top: 40px;
    margin-left: 50px;

  }


  .form-box{
    margin-top: 30px;
    width: 300px;
  }

  .but{
    flex-direction: column;
  }
  .but1, .but2{
    width: 300px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .foot{
    display: block;
    height: auto;
  }

  .foot>ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .foot>ul>li{
    display: block;
    width: 97px;
    height: 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

}









