<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>export-option</title>
	<link rel="stylesheet" href="{% static 'css/export.css' %}" />
</head>
<body>
	<div class="container">
		<div>
			<h3>Export to? <span class="close"><a href="#">&times</a></span></h3>
		</div>

		<div>
			<p>Where will you like to export your generated terms and conditions?</p>
		</div>

		<div>
			<a href=""><button id="btn1" type="button">Cancel</button></a>
			<a href=""><button id="btn2">My website</button></a>
			<a href=""><button id="btn3">Download</button></a>
			
			
		</div>

	</div>

	



</body>
</html>