<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Success Modal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'password-success-modal.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
</head>
<body>
    <div id="content">
        <div id="text-without-button">
            {% load static %}
            <img src="{% static '/icons/tick-circle.svg' %}" alt="Tick-circle Icon" id="tick">
            <section id="texts">
                <p>Password Changed!</p>
                <p>Your password has been successfully changed.</p>
            </section>
        </div>
        <a href="loginform.html" id="login">
            Continue to Login<img src="{% static '/icons/arrow-right.svg' %}" alt="Arrow-right">
        </a>
    </div>
</body>
</html>