@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
 * {  
  box-sizing: border-box;  
 } 
 body{
  margin: 0px;
  padding: 0px;
 }

 .logo{
        background-color: #113FAA;
        width: 423px;
        height: 178px;
        margin: 0px;
        padding-top: 75.2px;
        padding-left: 122px;
      }
  .logo-img{
    width: 224px;
    height: 40px;
  
  }
  @media screen and (min-width: 361px) {
    .openbtn{
      display: none;
      margin: auto;
      cursor: pointer;
    }


  }
  #toggle-nav {
   display: none;
   margin: auto;
   cursor: pointer;
  }


  .profile{
        background-color: #195EFF;
        width: 423px;
        height: 106px;
        display: flex;
        justify-content: center;

      }
      .avatar{
        display: flex;
        position: relative;
        top: 20%;
        left: 0%;
      }
      .profile-pic{
        width: 56px;
        height: 56px;
        background-color: #B2C9FF;
        border-radius: 73.1343px;
        justify-content: center;
        align-items: center;
      }
      #pic{
        position: relative;
        top: 25%;
        left: 25%;
      }
      .name{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 5px;
        position: relative;
        top: -10%;
      }

      .icons{
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 10px;
      }
      .header{
        height: 100%;
        width: 423px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #B2C9FF;
        overflow-x: hidden;
        z-index: 1;
        padding-top: 0px;
      }
      .sidebar{
        position:relative;
        top: 80px;
      }
      .dashboard-items{
        height: 60px;
        text-align: left;
        padding-left: 123px;
        padding-top: 19px;
        
      }
      a p{
        position: relative;
        top: -15px;
      }



      div a{
        text-decoration: none;
      }
      .dashboard-items:hover{
        background-color: white;
      }
      a{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #051333;;
      }


      li{
        width: 423px;
        height: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 18.77;
        font-weight: 400;
        font: Work Sans;
        text-decoration: none;
        }
        ul li{
          width: 423px;
        }

        li a:hover{
         background-color: white;
        }
        li{
          list-style: none;
        }
        .logout{
          position: relative;
          height: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: 956px;
        display: flex;
        font-size: 16px;
        line-height: 18.77;
        font-weight: 400;
        font: Work Sans;
      }

      .btn1{
        width: 90px;
        background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
      }


      main{
        margin-left: 551px;
      }


    .search {  
      position: relative;  
      height: 50px;  
     }  

     .search .input {  
      background-color: #fff;  
      border: 0;  
      font-size: 18px;  
      padding: 15px;  
      height: 50px;  
      width: 50px;  
      transition: width 0.3s ease;  
     }  

     .btn {  
      background-color: #fff;  
      border: 0;  
      cursor: pointer;  
      font-size: 24px;  
      position: absolute;  
      top: 0;  
      left: 0;  
      height: 50px;  
      width: 50px;  
      transition: transform 0.3s ease;  
     }  

     .btn:focus,  
     .input:focus {  
      outline: none;  
     }
     .search.active .input {  
      width: 200px;  
     }  
     .search.active .btn {  
      transform: translateX(198px);  
     }
       
    .selection{
      display: flex;
      column-gap: 60px;
      margin-bottom: 60px;
    }
    .box{
      width: 411px;
      height: 530px;
      background-color: rgba(209, 223, 255, 0.5);
      border-radius: 14.9844px;

    }
    .add{
      position: relative;
      top: 42%;
      left: 49%;
    }

    .terms{
      width: 184px;
    height: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16.8575px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.140479px;
    color: #154ED5;
    position: relative;
      top: 47%;
      left: 35%;
    }
    .greetings{
      width: 590px;
      height: 168px;
      margin-bottom: 60.5px;
      margin-top: 0px;
    }

    h3{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      display: flex;
      align-items: center;
      color: #3B3B3B;
    }
    .policy{
      margin-top: 5px;
    }
    .tick{
      display: flex;
      margin-bottom: 0px;
    }
    #policy{
      width: 20px;
      height: 20px;
      position: relative;
      top: 20px;

    }
    #text{
      margin-top: 0px;
      padding-top: 0px;
      font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    }

    .copyright{
      width: 825px;
      height: 19px;
      padding-left: 280px;
    }
    small{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      color: #081F55;

      }



  /* Mobile */

  @media screen and (max-width: 360px) {

#header{
        height: 800px;
        width: 70px;
        top: 0;
        left: 0;
        background-color: #B2C9FF;
        z-index: 1;
        padding-top: 0px;
        overflow: scroll;
      }
.logo{
        display: none;
      }
  .logo-img{
    display: none;
  
  }

  .profile{
        display: none;

      }
      .avatar{
        
        display: none;
      }
      .profile-pic{
        
        display: none;
      }
      #pic{
        display: inherit;
      }
      .name{
        display: none;
      }

      .openbtn{
      display: block;
    width: 25px;
    height: 25px;
    left: 50px;
    margin-top: 50px;
    }

    .openbtn img{
      width: 25px;
      height: 25px;
      position: fixed;
      left: 25px;
    }

   /*   #toggle-nav {
    display: block;
    width: 16px;
    height: 16px;
    left: 35px;
    margin-top: 75px;
    } */

.dashboard-items{
        position: relative;
        bottom: 10px;
        height: 30px;
        text-align: left;
        padding-left: 30px;
        margin-top: 8px;
        padding-top: 5px;
        
      }
.menu-text{
  display: none;
}

 .logout{
          position: relative;
          height: 32x;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: 55px;
        font-size: 16px;
        line-height: 18.77;
        font-weight: 400;
        font: Work Sans;
      }

      main{
        margin-left: 90px;
      }
.btn1{
  width: 40px;
height: 32px;
left: 30px;
bottom: 45px;
background: #FFFFAA;
box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
border-radius: 8px;
}
.selection{
      display: block;
      margin-bottom: 16px;
      row-gap: 10px;
      
    }

.box{
      width: 216px;
      height: 250px;
      background: rgba(209, 223, 255, 0.5);
      border-radius: 8px;
      margin-top: 20px;

    }

    .greetings{
      width: 216px;
      height: 63px;
      margin-bottom: 10.5px;
      margin-top: 0px;
    }
h3{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: 0.15px;

    }
    .policy{
      margin-top: 0px;
    }
    .tick{
      display: flex;
      margin-bottom: 0px;
    }
    #policy{
      width: 15px;
      height: 15px;
      position: relative;
      top: 20px;

    }

    #text{
      margin-top: 0px;
      padding-top: 0px;
      font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;


    }

.add{
      position: relative;
      left: 40%;
      right: 60%;
      top: 40%;
      bottom: 25%;

    }

    .terms{
      width: 72px;
    height: 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.140479px;
    color: #154ED5;
    position: relative;
      top: 47%;
      left: 35%;
    }

body{
  height: 1094px;
}

.copyright{
      width: 240px;
      height: 30pxpx;
      padding-left: 5px;
    }
    small{
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2px;
      color: #081F55;

      }

}