
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: #FFFFFF ;
}

.logo{
    height: 87px;;
    text-align: center;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.mobile{
    display: none;
}

img{
    display: block;
    width:224px;
    height: 40px;
    margin-left: 80px;
    margin-top:20px
}

.head{
    display: none;
}

.main{
    display: flex;
    flex-direction: row;
    height: 87vh;

    /*background*/

    background-image:url("Pictures/Herocurveshape.png"), url("Pictures/unsplash_npxXWgQ33ZQ.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 850px 100%, 700px 100%;
    /*background-size: contain;*/
    background-position: right bottom, right bottom;;
    background-blend-mode: multiply;
}

.side1, .side2{
    flex: 1;
    height:100%
}

.side1{
    flex: 1;
    height:100%;
    position: relative;
}

.side2{
    flex: 1;

}


.form{
    width:341px;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size:32px;
    line-height: 37.54px;
    width: 187px;
    height: 38px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color:#154ED4;
}

.label{

    width: 46px;
    height: 19px;
    /* Body 1 */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 20px;
}

.field{
    width:337px;
    height: 46px;
    margin-top: 2px;
    border-radius: 8px;
    color: #ACACAC;
    border:1px solid #757575;
    padding: 16px ;
}

button{
    margin-top: 20px;
    margin-bottom: 10px;
    width:337px;
    align-items: center;
    padding: 16px;
    color: whitesmoke;
    width: 337px;
    height: 48px;
    border: 0;

    /* Primary Color/700 */

    background: #154ED5;
    border-radius: 8px;

}

.check{
    width: 10.42px;
    height: 8.23px;
    border: 1.09677px solid #0000D5;
    color:blue;
    background-color: #FFFFFF;
}

.span1{
    width: 91px;
    height: 14px;

    /* Caption */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    align-items: center;
    letter-spacing: 0.4px;

    color: #000000;
}

.span2{
    display: inline-flex;
    width: 170px;
    height: 14px;
    float: right;

    /* Caption */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    align-items: center;
    text-align: end;
    letter-spacing: 0.4px;
    /* Primary Color/600 */

    color: #195EFF;

}

.signin{
    width: 263px;
    height: 19px;
    margin:auto;
    margin-top: 15px;
    /* Body 1 */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;

}

@media screen and (max-width: 1250px){
    .main{
        display: flex;
        flex-direction: row;
        height: 87vh;
        background-image:url("Pictures/Herocurveshape.png"), url("Pictures/unsplash_npxXWgQ33ZQ.png");
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 500px 100%, 400px 100%;
        /*background-size: contain;*/
        background-position: right bottom, right bottom;;
        background-blend-mode: multiply;
    }

    .form{
        width:341px;
        height: 80%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


@media screen and (max-width: 790px){
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #FFFFFF ;
    }
    .logo{
        height: 100px;
        box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
        background-color: #0000D5;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    img{
        display: block;
        width:224px;
        height: 40px;
        margin-left: 32px;
        margin-top:40px
    }

    .main{
        display: flex;
        flex-direction: column;
        background-image: none;

    }

    .head{
        display: block;
        color: #FFFFFF;
        width:100%;
        height:400px;
        background-image:url("images/loginWelcomescreen@2x.png");
        background-position:center;
        background-repeat: no-repeat;
    }

    .head>h4{
        display: block;
        color: #FFFFFF;
        margin-top: 250px;
        margin-left: 70px;
    }

    .head>p{
        margin-top: 15px;
        margin-left: 70px;
    }

    .side1{
        flex: 1;
        height:100%;
        margin-top: 30px;
        margin-bottom: 40px;

    }

    .side2, h4{
        display: none;
    }

    .signin{
        margin-bottom: 50px;
    }

}