body{
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Work Sans';
    width: 600px;
    height: 400px;
}
#content{
    width: 394px;
    height: 291px;
    position: absolute;
    left: 103px;
    top: 54px;
}
#tick{
    width: 106px;
    height: 106px;
    position: relative;
    left: 140px;
    margin-bottom: 0;
}
#texts p:nth-of-type(1){
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #154ED5;
    margin-top: 24px;
    margin-bottom: 8px;
}
#texts p:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;   
    margin: 0; 
}
#login{
    text-decoration: none;
    /* padding: 16px; */
    width: 223px;
    height: 48px;
    background: #154ED5;
    border-radius: 8px;    
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.25px;
    position: absolute;
    bottom: 20px;
    left: 85.5px;
    padding-top: 6px;
    text-align: center;
}
#login img{
    position: relative;
    top: 7px;
    margin-left: 8px;
}

/* #login On click
1. Navigate to: "Dashboard - Main";
2. Animate: Smart animate;
 animation-timing-function: ease-in;
 animation-duration: 200ms; */


/* Mobile View */
@media (max-width:360px){
    body{
        width: 240px;
        height: 400px;
    }
    #content{
        width: 182px;
        height: 269px;
        position: absolute;
        left: 29px;
        top: 66px;
    }
    #tick{
        width: 73.33px;
        height: 73.33px;
        position: relative;
        left: 54.33px;
        top:7.3px;
        margin-bottom: 0;
    }
    #texts p:nth-of-type(1){
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.15px;
        margin-top: 31.33px;
        margin-bottom: 8px;
    }
    #texts p:nth-of-type(2){
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.25px;
    }
    #login{
        box-sizing: border-box;
        width: 169px;
        height: 40px;
        font-size: 12px;
        padding: 0;
        line-height: 19px;
        letter-spacing: 1.25px;
        position: absolute;
        left: 6.5px;
    }
    #login img{
        position: relative;
        top: 9px;
        margin-left: 8px;
    }
}