* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 143, 143);
}

#image{
  float: left;
  height: 30px;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 10px;

}

.box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  width: 70%;
  padding: 140px;
  min-height: 600px;
}

.box1 {
  background-color: rgb(31, 44, 143);
  background-image: url("/static/Pictures/cable illustartion.png");
  background-size: 220%;
  height: 20px;
  margin-top: 30px;
  width: 40%;
  flex-basis: 40%;
  padding: 65px;
}

.box2 {
  background-color: #fff;
  margin-top: 30px;
  height: 20px;
  width: 40%;
  flex-basis: 40%;
}


h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 22px;
  padding: 1px;
  font-size: 20px;
  color: rgb(32, 32, 167);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    margin-left: 22px;
  padding: 2px;
  font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  padding: 25px;
  margin-top: 10px;

}

#page{
width: 100%;
  font-size: 18px;
  border-radius: 3px;
  height: 10%;
}
#one {
  padding: 2px;
  margin: auto;
font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;


}

#new_password{
  padding: 10px;
  width: 100%;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-width: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#two {
  padding: 2px;
  margin-left: 1px;
  font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#confirm_new_password {
  padding: 10px;
  width: 100%;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-width: 1px;
  color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.con-password {
    flex-basis:50% ;
  color: red;
  margin-left: 1px;
}

.con-password p {
  font-size: 10px;
  padding: 2px;
  margin: 5px;
}

.new-password {
    flex-basis:50% ;
  margin-left: 1px;
  
  
}
#btn{
    width: 500px;
    color: yellow;
}
.btn1 {
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(31, 44, 143);
  border-width: 1px;
  background-color: white;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color: rgb(31, 44, 143);
  width: 120px;
}
.btn2 {
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  border-width: 1px;
  outline: none;
  background-color: rgb(31, 44, 143);
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  width: 120px;
}
