body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Work Sans';
    overflow-x: hidden;
}
#side-bar{
    width: 423px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

#logo-div{
    width: 100%;
    height: 178px;
    background-color: #154ED5;
}
#logo{
    width: 272.37px;
    height: 41.2px;
    position: absolute;
    left: 122px;
    top: 74px;
}
#user-profile{
    width: 100%;
    height: 106px;
    background-color:  #195EFF;
    align-items: center;
}
#user-profile span img{
    width: 56px;
    height: 56px;
    margin-left: 122px;
    margin-top: 25px;
    margin-right: 4px;
    background: #B2C9FF;
    border-radius: 73.1343px;
}
#user-profile span:nth-of-type(2){
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    position: relative;
    top: -26px;
}
#lower-div{
    width: 100%;
    height: 1424px;
    background-color: #B2C9FF;
    display: flex;
    flex-direction: column;
    padding-top: 100.5px;
}
#lower-div a{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 0;
    padding-left: 122px;
    text-decoration: none;
}
#lower-div a:active{
    background: #FFFFFF;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    padding-top: 1rem;
}
#lower-div a span:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    letter-spacing: 0.5px;
    color: #051333;
    position: relative;
    top: -6px;
}
#lower-div a span img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
#lower-div a span:nth-of-type(2){
    color: #051333;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
}
.overlay {
    background: #D1DFFF;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 55px 0px 43px 0px;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    width: 100%;
}
.overlay #A a {
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
}
.overlay .closebtn {
    position: relative;
    top: -8px;
}
#mobile-sidebar{
    width: 88px;
    height: 100%;
    background: #D1DFFF;    
    padding-top: 55px;
    padding-bottom: 45px;
    position: fixed;
}
#top{
    margin-bottom: 111px;
    cursor: pointer;
    visibility: hidden;
    position: relative;
}
#top img{
    width: 16px;
    height: 16px;
    position: relative;
    left: 36px;
}
#middle{
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
    left: 36px;
}
#middle a img{
    width: 24px;
    height: 24px;
}
#bottom{
    margin-top: 350%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#bottom #user{
    width: 32px;
    height: 32px;
    padding: 10px;
    background: #B2C9FF;
    border-radius: 58.7687px;
    position: relative;
    left: 20px;
}
#bottom #arrow{
    padding: 8px 16px;
    width: 25px;
    height: 25px;
    position: relative;
    left: 18px;
    background: #FFFFAA;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}
#mobile-sidebar-open{
    width: 260px;
}
#A{
    display: flex;
    gap: 80px;
    margin-bottom: 96px;
    padding-left: 40px;
}
#yellow-logo{
    width: 123.95px;
    height: 18.69px;
}
#B{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 55%;
    padding-left: 40px;
}
#B a{
    text-decoration: none;
}
#B a span img{
    width: 24px;
    height: 24px;
    margin-right: 8px;    
}
#B span:nth-of-type(2){
    position: relative;
    top: -6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #051333;
}
#C{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
#user span img{
    margin-right: 6px;
    padding: 10px;
    width: 25px;
    height: 25px;
    background: #B2C9FF;
    border-radius: 58.7687px;
}
#user span:nth-of-type(2){
    font-weight: 400;
    font-size: 21.1765px;
    line-height: 25px;
    letter-spacing: 0.661765px;
    color: #081F55;
    position: relative;
    top: -15px;
}
#log-out{
    margin-top: 24px;
    padding: 8px 16px;
    width: 169px;
    height: 32px;
    background: #FFFFAA;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
#log-out span img{
    width: 18px;
    height: 18px;   
    padding-top: 5px;
}
#log-out span:nth-of-type(2){
    position: relative;
    top: -4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #051333;
}
#main-page{
    position: relative;
    left: 280px;
    top: 82px;
}
#generate-main-page{
    position: relative;
    left: 500px;
    top: 82px;
}
#search-button{
    padding: 8px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
}
#search-button img{
    position: relative;
    top: 1.5px;
}
#t-c{
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #3B3B3B;
    mix-blend-mode: normal;
    position: relative;
    top: 149px;
}
#preview{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15px;
    color: #051333;
}
#policies-line{
    display: flex;
    width: 80%;
    height: 50px;
    position: relative;
    top: 150px;
    gap: 9px;
}
#left{
    width: 40%;
}
#left p span img{
    width: 24px;
    height: 24px;
}
#left p span:nth-of-type(2){
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.15px;
    color: #051333;
    position: relative;
    top: -5px;
}
#left p:nth-of-type(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #595959;
    mix-blend-mode: normal;
}
#right{
    position: relative;
    top: 56px;
    width: 60%;
}
#right button img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
#edit, #delete{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.25px;
}
#edit{
    box-sizing: border-box;
    width: 99px;
    height: 48px;
    border: 0.5px solid #113FAA;
    border-radius: 8px;
    background-color: #ffffff;
    color: #113FAA;
    padding-bottom: 13px;
}
#edit img{
    position: relative;
    top: 6px;
    margin-right: 5px;
}
#delete{
    box-sizing: border-box;
    width: 122px;
    height: 48px;
    border: 0.5px solid #CF3131;
    border-radius: 8px;
    background-color: #ffffff;
    color: #CF3131;
    padding-bottom: 13px;
}
#delete img{
    position: relative;
    top: 5px;
    margin-right: 5px;
}
#export{
    box-sizing: border-box;
    width: 174px;
    height: 48px;
    background: #154ED5;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
}
#export a{
text-decoration: none;
color: #ffffff;
}
#text-page{
    width: 750px;
    height: 980px;
    top: 320px;
    position: relative;
    background: rgba(209, 223, 255, 0.35);
    border-radius: 16px;
    padding: 30px;
}
#text-page img{
    position: relative;
    width: 100%;
    height: 100%;
}
#copyright{
    width: 841px;
    height: 51px;
    position: absolute;
    top: 1715px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #081F55;
}
@media (min-width:280px) and (max-width:700px){
    #top{
        visibility: visible;
    }
    #side-bar{
        visibility: hidden;
    }
    #main-page{
        left: 150px;
        top: 32px;
    }
    #t-c{
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #3B3B3B;
        mix-blend-mode: normal;
        position: relative;
        top: 49px;
        width: 50%;
    }
    #preview{
        visibility: hidden;
    }
    #policies-line{
        display: flex;
        width: 100%;
        height: 20px;
        top: 40px;
        gap: 50px;
    }
    #left{
        width: 100%;
    }
    #left p span img{
        width: 30px;
        height: 30px;
    }
    #left p span:nth-of-type(2){
        font-size: 24px;
        line-height: 23px;
        letter-spacing: 0.1px;
    }
    #left p:nth-of-type(2){
        width: 160%;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.4px;
    }
    #right{
        position: relative;
        top: 0px;
        width: 60%;
    }
    #right button img{
        width: 28px;
        height: 28px;
    }
    #edit, #delete{
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.4px;
    }
    #edit{
        border: none;
    }
    #delete{
        border: none;
    }
    #export{
        width: 170%;
        height: 48px;
        font-size: 20px;
        position: relative;
        top: 1350px;
        left: -185%;
    }
    #text-page{
        width: 750px;
        height: 980px;
        top: 200px;
    }
    #copyright{
        visibility: hidden;
    }
}
@media (min-width:701px) and (max-width:915px){
    #policies-line{
        width: 100%;
        gap: 100px;
    }
    #left{
        width: 40%;
    }
    #right{
        width: 60%;
    }
}