body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Work Sans';
    /* width: 1512px; */
    height: 100%;
}
#side-bar{
    width: 423px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    z-index: 1;
}
#logo-div{
    width: 100%;
    height: 178px;
    background-color: #154ED5;
}
#logo{
    width: 272.37px;
    height: 41.2px;
    position: absolute;
    left: 122px;
    top: 74px;
}
#user-profile{
    width: 100%;
    height: 106px;
    background-color:  #195EFF;
    align-items: center;
}
#user-profile span img{
    width: 56px;
    height: 56px;
    margin-left: 122px;
    margin-top: 25px;
    margin-right: 4px;
    background: #B2C9FF;
    border-radius: 73.1343px;
}
a span{
    font-family: sans-serif;
}
#user-profile span:nth-of-type(2){
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    position: relative;
    top: -26px;
}
#lower-div{
    width: 100%;
    height: 200vh;
    background-color: #B2C9FF;
    display: flex;
    flex-direction: column;
    padding-top: 100.5px;
}
 a{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 0;
    color: #051333;
    padding-left: 122px;
    text-decoration: none;
}
 a:active{
    background: #FFFFFF;
    box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    padding-top: 1rem;
}
#lower-div a span:nth-of-type(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    letter-spacing: 0.5px;
    color: #051333;
    position: relative;
    top: -6px;
}
#lower-div a span img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
/* #lower-div a span:nth-of-type(2){
    color: #051333;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;letter-spacing: 0.5px;
} */

.asidecontent{
    display: flex;
    margin: 100px;

}
.inner h3{
    font-size: xx-large;
    font-weight: 400;
    font-family: sans-serif;
}
.inner p{
    font-family: sans-serif;
    font-size: larger;
    font-weight:400px;
}
.inner1 {
    margin-left: 350px;
    margin-top: 34px;

}
.inner1 button{
    padding: 10px 65px;
    border: 2px solid #154ED4;
    background-color: #FFFFFF;
    border-radius:5px;
}
.content{
    display:flex;
    margin-left: 100px;
    background-color: #E7EEFF;
    width: 40%;
    height: max-content;

}
.content p{
    margin-left: 15px;
    margin-top: 30px;
    font-family: sans-serif;
}
.content form{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    font-family: sans-serif;
    align-items: center;
}

.Q1{
    color: #154ED4;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #E7EEFF;

  }
  .one{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .one label{
    margin-left:10px;
    flex-direction: column;
  }
  .thing{
    display: flex;
    margin-bottom: 15px;
    
  }
  .thing input{
    width: 70%;
    margin-left: 10px;
    margin-bottom: 15px;

  }
  .thing button{
    margin-left:15px;


    width:25%;
    border: 2px solid #154ED4;
    background-color: #FFFFFF;
    border-radius:5px;

  }
  .second{
    background-color: #E7EEFF;
    display: flex;
    flex-direction:column;
    border-radius: 5px;
  }
  .second img{
    margin: 10px;
  }
  .second button{
    padding: 10px 65px;
    border: 2px solid #154ED4;
    background-color: #FFFFFF;
    border-radius:5px;
    width:45%;
    margin-bottom: 25px;
    margin-left: 105px;
    margin-top: 25px;
}
  .hatt{
    display: flex;
    justify-content: space-between;

  }
  .potter{
    display: flex;
    justify-content: flex-end;
    margin-top: 180px;
    margin-right: 30px;
  }
  .potter button{
    background-color: #154ED4;
    color: #fff;
    padding: 10px 120px;
    border: 2px solid #154ED4;
    border-radius:5px;
  }
  .previous button{
    margin-left: 50px;
  }
  .ctn-btm{
    display:flex;
    justify-content: space-between;
   
  }
  .policy{
    display: flex;
  }
  .tips{
    font-weight: bolder;
    font-family: sans-serif;
  }
  .ron p{
    font-family: sans-serif;
  }
  .hermes ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: #154ED4;
    font-family: sans-serif;
    margin-left: 40px;
    margin-top: 150px;
  }
  .hermes ul:hover{
    cursor: pointer;
  }
  .first{
    margin-left: 85px;
  }