* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 10%;
  border: 10px white;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 143, 143);
  background-size: 100%;
}

#image {
  float: left;
  width: 35%;
  height: 20%;
  margin: 15px;
  padding-left: 5px;
}

#logo {
  padding: 30px;
  margin-top: 10px;
  padding-right: 20px;
  width: 50%;
  height: 10%;
}
.box-container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem auto 0 auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: white;
  height: 600px;
  background-image: url("cable illustartion.png");
  background-size: 100%;
}

.box1 {
  height: 70%;
  margin-top: 10px;
  width: 20%;
  flex-basis: 40%;
  padding-top: 150px;
}

.box2 {
  margin-top: 1.9px;
  height: 70%;
  width: 20%;
  flex-basis: 40%;
  padding-top: 100px;
}

.container p {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}

.input-box {
  margin: 10px;
}

.input-box input {
  height: 30px;
  width: 60%;
  border-width: 1px;
  border-radius: 5px;
  font-size: 10px;
  margin: 10px;
  padding: 10px;
}

#email {
  font-size: 15px;
  padding: 5px;
  margin: 3px;
}

#placeholder {
  text-align: left;
  padding: 6px;
  margin: 3px;
  border-width: 1px;
}

#cont-button {
  background-color: rgb(50, 50, 228);
  color: white;
  margin: 3px;
  padding: 6px;
  border-width: 1px;
}

.wrapper {
  text-align: left;
  margin-left: 40%;
  padding: 0 60px;
  width: 80%;
  color: rgb(99, 94, 94);
  flex-basis: 40%;
}

#par {
  text-align: left;
  color: rgb(9, 17, 9);
  width: 45%;
  font-size: 12px;
  padding: 3px;
  margin: 3px;
}

#word {
  font-size: 16px;
  padding: 12px;
  margin: 3px;
  color: blue;
}

#terms {
  font-size: 12px;
  padding: 12px;
  margin: 3px;
}

/* Do not change the code below */
#foot {
  height: 200px;
  width: 100%;
  position: relative;
  top: -48px;
}

#mobile-logo{
  visibility: hidden;
}
#back{
  visibility: hidden;
}
#footer-links{
  visibility: visible;
  z-index: 1;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
}
#footer-links div a{
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-right: 15%;
}
#privacy{
  width: 100px;
}
#footer-links div a:hover{
color: #2D2D2D;
}



@media (min-width:280px) and (max-width:800px){
  body {
    width: 100%;
    border: none;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
  }
  .box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
    background-image: url();
    background-size: 100%;
  }
  .box1 {
    height: 335px;
    margin-top: 0px;
    width: 100%;
    flex-basis: 100%;
    padding-top: 0px;
  }
  #image {
    visibility: hidden;
  }
  #mobile-logo{
    visibility: visible;
    width: 100%;
    height: 100px;
    background: #154ED5;
    position: absolute;
    top: 0;
  }
  #mobile-logo img{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 5%;
    top: 25px;
  }
  #logo {
    padding: 0px;
    margin-top: 150px;
    padding-right: 0px;
    width: 50%;
    height: 10%;
    position: relative;
    left: -15%;
  }
  .box2 {
    margin-top: 60px;
    height: 299px;
    width: 100%;
    padding: 50px;
    flex-basis: 100%;
    padding-top: 0px;
  }
  #word {
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
    color: #0D2F80;
  }
  #terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #1E1E1E;
    padding: 0px;
    margin: 0px;
    margin-bottom: 32px;
    width: 100%;
  }
  .input-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin: 0px;
  }
  .input-box input {
    height: 46px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
  }
  #email {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
  }
  #placeholder {
    text-align: left;
    padding: 16px;
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #ACACAC;
  }
  
  #cont-button {
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 1.25px;
  }
  #par {
    visibility: hidden;
  }
  #back{
    visibility: visible;
    margin-top: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    letter-spacing: 0.4px;
    color: #154ED5;
    display: flex;
    justify-content: center;
  }
  #foot {
    height: 100%;
    width: 100%;
    margin-bottom: -38px;
    top: 0px;
  }
  #footer-links{
    visibility: visible;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-around;
    position: relative;
    top: 50px;
  }
  #footer-links div a{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-right: 15%;
  }
  #privacy{
    width: 100px;
  }
}
@media (min-width:580px) and (max-width:800px){
  #footer-links{
    top: 110px;
  }
}
@media (min-width:401px) and (max-width:580px){
  #footer-links{
    top: 79px;
  }
}
@media (min-width:310px) and (max-width:400px){
  #footer-links{
    top: 60px;
  }
}